doctype
html(lang="en",
xmlns="http://www.w3.org/1999/xhtml",
itemscope="itemscope",
itemtype="http://schema.org/Product")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width,initial-scale=1, user-scalable=no")
        title 2null16
        meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
        script
            | window.TOTR = !{props}
    body
        link(href='//fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css',async,defer)
        link(rel="stylesheet", href="#{bundleCss}")
        block content
        script(src="#{bundleJs}")

        if !isProd
            script(type='text/javascript' id="__bs_script__") document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.9.12.js'><\/script>".replace("HOST", location.hostname));
